*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --main-color:#2c3e50;
    --secondary-color:#B06500;
    --primary-color:#3498db;
    --tertiary-color:#ecf0f1;
    --font-color:#000;
    --font-family:'Arial', sans-serif;
    --font-size:0.8rem;
}
body{
    font-family:var(--font-family);
    font-size:var(--font-size);
    background-color:var(--tertiary-color);
    color:var(--main-color);
    min-height:100vh;
    box-sizing: border-box;
    padding:0.2rem;
}
.container{
    display:grid;
    grid-template-columns:250px 1fr 1fr;
    grid-template-rows:auto 1fr auto;
    grid-template-areas:
        "dashboard header header"
        "dashboard content content"
        "dashboard footer footer";
    min-height:100vh;
}
.header{
    background-color:var(--primary-color);
    color:var(--tertiary-color);
    text-align:center;
    grid-area:header;
    padding:1.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 2px;
}
.dashboard{
    background-color:var(--secondary-color);
    color:var(--tertiary-color);
    padding: 20px;
    grid-area:dashboard;
}
.content{
    background-color:var(--tertiary-color);
    color:var(--main-color);
    padding: 20px;
    grid-area:content;
}
.footer{
    background-color:var(--primary-color);
    color:var(--tertiary-color);
    text-align:center;
    grid-area:footer;
    padding:1.2rem;
}

.grid-items{
    top:50px;
    position: relative;
    margin-top:25px;
    word-spacing:24px;;
}
.grid-items-other{
    position: relative;
    top:100px;
    margin-top:25px;
}

/* content section items */
.contents{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
}
.content-items{
    background-color:var(--tertiary-color);
    color:var(--main-color);
    padding: 20px;
    box-shadow: 0 24px 28px rgba(0,0,0,0.1);
    border-radius: 5px;
    border-left: 5px solid var(--secondary-color);
}

.text-section{
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    margin: 10px 0;
    padding: 10px;
    text-align:left;
    margin-left:-10px;
}
#headline{
    text-align:left;
    font-size:15px;
    font-weight: bold;
    color: var(--font-color);
}
.icons-setup{
    display: flex;
    justify-content: right;
    gap:20px;
}
.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 2px;
    top:10px;
    bottom:10px;
    position: relative;
    max-width:40vw;
    margin-left:-10px;
}
.second-header{
    display:flex;
    justify-content:right;
    gap:20px;
    top:-10px;
    position:relative;
}
#user-profile{
    margin-right:-10px;
}

