*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --main-color:#2c3e50;
    --secondary-color:#B06500;
    --primary-color:#3498db;
    --tertiary-color:#ecf0f1;
    --font-family:'Arial', sans-serif;
    --font-size:16px;
}
body{
    font-family:var(--font-family);
    font-size:var(--font-size);
    background-color:var(--tertiary-color);
    color:var(--main-color);
    min-height:100vh;
    box-sizing: border-box;
    padding:0.5rem;
}
.container{
    display:grid;
    grid-template-columns:250px 1fr 1fr 1fr;
    grid-template-rows:auto 1fr auto;
    gap:2px;
    grid-template-areas:
        "dashboard header header header"
        "dashboard content content content"
        "dashboard footer footer footer";
    min-height:100vh;
}
.header{
    background-color:var(--main-color);
    color:var(--tertiary-color);
    text-align:center;
    grid-area:header;
    padding:1rem;
}
.dashboard{
    background-color:var(--secondary-color);
    color:var(--tertiary-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    grid-area:dashboard;
}
.content{
    background-color:var(--tertiary-color);
    color:var(--main-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    grid-area:content;
}
.footer{
    background-color:var(--main-color);
    color:var(--tertiary-color);
    text-align:center;
    grid-area:footer;
    padding:1rem;

}