*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --main-color:#2c3e50;
    --secondary-color:#B06500;
    --primary-color:#3498db;
    --tertiary-color:#ecf0f1;
    --font-family:'Arial', sans-serif;
    --font-size:16px;
}
body{
    font-family:var(--font-family);
    font-size:var(--font-size);
    background-color:var(--tertiary-color);
    color:var(--main-color);
    padding:20px;
}
.container{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(16,1fr);
    gap:0.2rem;
    height:100vh;
}
.header{
    grid-column:2/-1;
    grid-row: 16/17;
    padding:0.5rem;
    background-color: var(--tertiary-color);
}
.dashboard{
    grid-row: 1/17;
    background-color: var(--primary-color);
    padding:0.5rem;
}
.content{
    grid-column:2/-1;
    background-color: var(--main-color);
}
.footer{
    grid-column:2/-1;
    grid-row: 16/17;
    background-color: var(--secondary-color);
    position:relative;
    padding:0.5rem;
}